body, html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 20px 20px 0px 20px;
    font-size: 16px;
    background: url('images/grey.png');
    min-height: 100%;
}

/* Force ng-cloak to have no display to overcome more specific selectors by default. 
    See also: http://stackoverflow.com/questions/11249768/angularjs-ng-cloak-ng-show-elements-blink/13276214#13276214 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.cell {
    background-color: #BABAFF;
    border: 1px solid #000;
    display: inline-block;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
}

    .cell.player-1-active {
        background: rgba(94, 186, 255, 0.5) !important;
    }

    /*http://hex2rgba.devoth.com/*/
    .cell.player-2-active {
        background: rgba(255, 134, 57, 0.5) !important;
    }

    .cell.player-1 {
        background-color: #5ebaff;
    }

    .cell.player-2 {
        background-color: #ff8639;
    }

#grid {
    display: table;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

.scoreContainer {
    padding-bottom: 10px;
}

.loginContainer {
    padding-bottom: 25px;
}

.score {
    width: 100px;
    text-align: center;
    height: 100px;
    font-size: 24px;
    border: 1px solid black;
    padding: 10px;
    line-height: 75px;
    border-radius: 50px;
}

    .score.active {
        background-color: #ff8639;
    }

.playerSelectGrid {
    text-align: center;
}

.playerSelectPanel {
    min-height: 190px;
    min-width: 190px;
    overflow: hidden;
    display: inline-block;
    margin: 6px;
    border: 3px solid gray;
    background-color: #adfcc3;
}

    .playerSelectPanel > div.name {
        width: 100%;
        font-size: 20px;
    }

    .playerSelectPanel > select {
        margin-left: 10%;
        width: 80%;
    }

.playerIcon {
    width: 20%;
    margin-top: 5%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

.optionsContainer {
    text-align: center;
}

.playButton {
    width: 60%;
    height: 50px;
    margin-top: 15px;
}

.gridSize {
    width: 30%;
    margin-left: 35%;
}
